@using Microsoft.AspNetCore.Identity
@using WebApplication6.Areas.Identity.Data
@model WebApplication6.Areas.Identity.Data.TimeTrackers

@{
    ViewData["Title"] = "Edit User's Time";
}



@inject SignInManager<TimeSystemUser> SignInManager
@inject UserManager<TimeSystemUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>@ViewData["Tittle"]</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="GetUser">Users</a></li>
                    <li class="breadcrumb-item">Users's Time</li>
                    <li class="breadcrumb-item active">Edit User's Time</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
    <div class="row">
            <div class="col-md-8">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="CurrentDate" class="control-label"></label>
                        <input asp-for="CurrentDate" class="form-control" />
                        <span asp-validation-for="CurrentDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TimeIn" class="control-label"></label>
                        <input asp-for="TimeIn" class="form-control" />
                        <span asp-validation-for="TimeIn" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TimeOut" class="control-label"></label>
                        <input asp-for="TimeOut" class="form-control" />
                        <span asp-validation-for="TimeOut" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdUser" class="control-label"></label>
                        <input asp-for="IdUser" class="form-control" />
                        <span asp-validation-for="IdUser" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </main>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>


