@model WebApplication6.Areas.Identity.Data.TimeTrackers

@{
    ViewData["Title"] = "Edit Time Tracker";
}

<main id="main" class="main">
    <div class="text-center">
        @TempData["success"]
    </div>
    <div class="pagetitle">
        <h1>@ViewData["Tittle"]</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="TimeTracker" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item"><a asp-controller="TimeTracker" asp-action="Index" >Time Tracker</a></li>
                <li class="breadcrumb-item">Time Out</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="border p-3 mt-4">
                    <input type="hidden" asp-for="Id" />
                    <div class="mb-3">
                        <input asp-for="CurrentDate" class="form-control" />
                        <span asp-validation-for="CurrentDate" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input asp-for="TimeIn" class="form-control" />
                        <span asp-validation-for="TimeIn" class="text-danger"></span>
                    </div>
                     <div class="mb-3">
                        <label asp-for="IdUser"></label>
                        <input asp-for="IdUser" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-primary" style="width:150px">Button</button>
                    <a asp-controller="Timetracker" asp-action="Index" class="btn btn-secondary" style="width:150px">
                        Back to List
                    </a>
                </div>
            </form>
        </div>
    </div>
</main>



